html{

    font-size: 14px;

}


body{

    font-size: 40px;
    line-height: 2;
    text-align: center;
    color: grey;
    
}
img{
    max-width: 400px;
    display: block;
    height: auto;
    margin: 0 auto;
}